<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="600302" android:versionName="6.0.3" android:compileSdkVersion="28" android:compileSdkVersionCodename="9" package="com.bitcoin.mwallet" platformBuildVersionCode="28" platformBuildVersionName="9">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC" android:requiredFeature="false"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-feature android:name="android.hardware.fingerprint" android:required="false"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.landscape" android:required="false"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <application android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:name="com.bitcoin.mwallet.ApplicationClass" android:screenOrientation="portrait" android:allowBackup="false" android:supportsRtl="true" android:usesCleartextTraffic="true" android:roundIcon="@mipmap/ic_launcher_round" android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <activity android:theme="@style/AppTheme.NoActionBar.Dark" android:name="com.bitcoin.mwallet.GlobalTxDetailsActivity" android:launchMode="singleTop" android:screenOrientation="portrait"/>
        <activity android:theme="@style/AppTheme.NoActionBar.Dark" android:name="com.bitcoin.mwallet.WalletDeleteActivity" android:launchMode="singleTop" android:screenOrientation="portrait"/>
        <activity android:theme="@style/AppTheme.NoActionBar.Dark" android:name="com.bitcoin.mwallet.WalletViewMnemonicActivity" android:launchMode="singleTop" android:screenOrientation="portrait"/>
        <activity android:theme="@style/AppTheme.NoActionBar.Dark" android:label="@string/title_activity_receive" android:name="com.bitcoin.mwallet.ReceiveActivity" android:launchMode="singleTop" android:screenOrientation="portrait"/>
        <activity android:theme="@style/AppTheme.NoActionBar.Dark" android:name="com.bitcoin.mwallet.SendV2Activity" android:launchMode="singleTop" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="bitcoin"/>
                <data android:scheme="bitcoincash"/>
                <data android:scheme="simpleledger"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/AppTheme.NoActionBar.Dark" android:name="com.bitcoin.mwallet.OnBoardingActivity" android:launchMode="singleTop" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" android:noHistory="true"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/ic_bitcoin_notification"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_color" android:resource="@color/cashGreen"/>
        <provider android:name="androidx.core.content.FileProvider" android:exported="false" android:authorities="com.bitcoin.mwallet.fileprovider" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <activity android:theme="@style/AppTheme.NoActionBar.Dark" android:name="com.bitcoin.mwallet.WalletDetailsActivity" android:launchMode="singleTop" android:screenOrientation="portrait"/>
        <activity android:theme="@style/AppTheme.NoActionBar.Dark" android:name="com.bitcoin.mwallet.MainTabbedActivity" android:launchMode="singleTop" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan">
            <intent-filter android:label="@string/launcher_name">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/zxing_CaptureTheme" android:name="com.journeyapps.barcodescanner.CaptureActivity" android:clearTaskOnLaunch="true" android:stateNotNeeded="true" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="com.htc.htcwalletsdk.Act.UITestAct" android:screenOrientation="portrait"/>
        <activity android:theme="@style/ReviewTheme" android:name="com.htc.htcwalletsdk.Act.UIReviewAct" android:screenOrientation="portrait"/>
        <activity android:theme="@style/ReviewTheme" android:name="com.htc.htcwalletsdk.Act.UISignMsgAct" android:screenOrientation="portrait"/>
        <activity android:theme="@style/NoActionBar" android:name="com.htc.htcwalletsdk.Act.UITemplateAct" android:screenOrientation="portrait"/>
        <activity android:theme="@style/NoActionBar" android:name="com.htc.htcwalletsdk.Act.UITransitionAct" android:screenOrientation="portrait"/>
        <activity android:theme="@style/NoActionBar" android:name="com.htc.htcwalletsdk.Act.UnlockWalletActivity" android:screenOrientation="portrait"/>
        <activity android:theme="@style/NoActionBar" android:name="com.htc.htcwalletsdk.Act.UITryOftenAct" android:screenOrientation="portrait"/>
        <activity android:theme="@style/NoActionBar" android:name="com.htc.htcwalletsdk.Act.UISocialRestoreAct" android:screenOrientation="portrait"/>
        <activity android:theme="@style/NoActionBar" android:name="com.htc.htcwalletsdk.Act.UIVerificationCodeAct" android:screenOrientation="portrait"/>
        <activity android:theme="@style/AlertDialogThemeEx" android:name="com.htc.htcwalletsdk.Act.UIErrorDialogAct" android:screenOrientation="portrait"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:theme="@style/DeviceCredentialHandlerTheme" android:name="androidx.biometric.DeviceCredentialHandlerActivity" android:exported="true"/>
        <activity android:theme="@style/applock__theme_activity" android:label="@string/app_name" android:name="com.guardanis.applock.activities.LockCreationActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:theme="@style/applock__theme_activity" android:label="@string/app_name" android:name="com.guardanis.applock.activities.UnlockActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <service android:name="androidx.work.impl.background.systemalarm.SystemAlarmService" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:directBootAware="false"/>
        <service android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:directBootAware="false"/>
        <receiver android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver" android:enabled="true" android:exported="false" android:directBootAware="false"/>
        <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy" android:enabled="false" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy" android:enabled="false" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy" android:enabled="false" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy" android:enabled="false" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver" android:enabled="false" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <service android:name="androidx.room.MultiInstanceInvalidationService" android:exported="false"/>
        <service android:name="com.google.firebase.messaging.FirebaseMessagingService" android:exported="false">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <provider android:name="com.squareup.picasso.PicassoProvider" android:exported="false" android:authorities="com.bitcoin.mwallet.com.squareup.picasso"/>
        <service android:name="com.google.firebase.components.ComponentDiscoveryService" android:exported="false">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.android.gms.measurement.AppMeasurementReceiver" android:enabled="true" android:exported="false"/>
        <receiver android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.measurement.AppMeasurementService" android:enabled="true" android:exported="false"/>
        <service android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:enabled="true" android:exported="false"/>
        <provider android:name="com.google.firebase.provider.FirebaseInitProvider" android:exported="false" android:authorities="com.bitcoin.mwallet.firebaseinitprovider" android:initOrder="100"/>
        <activity android:theme="@style/Theme.Translucent.NoTitleBar" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:exported="false"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <provider android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer" android:exported="false" android:multiprocess="true" android:authorities="com.bitcoin.mwallet.lifecycle-process"/>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="1"/>
    </application>
</manifest>
